#head, #par {
	display: flex;
	justify-content: center;
}
#main-body {
	background-color: #926ea9;
	height: 100%
}
body {
	background-color: #ffcc66;
}
#frame {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
.imgs {
	
	width: 50px;
	height: 50px;
	padding: 100px;
	background-color: red;
	border: 2px black solid
}
