#head, #par {
	display: flex;
	justify-content: center;
}
#main-body {
	background-color: #926ea9;
	height: 100%
}
body {
	background-color: #ffcc66;
}
#frame {
	display: grid;
	grid-gap: 5px 5px; 
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	justify-content: center;
    /* column-count: 4; */
    
}
.imgs {
	margin: 4px;
	width: 90px;
	height: 90px;
	padding: 10px;
	border: 2px black solid;
	background-color: #D580FF;
	/* box-sizing: border-box; */
}

.back{
	background-image:url("https://image.flaticon.com/icons/png/512/3162/3162148.png");
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center;
}

.img1 {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#hide{
	position:absolute; 
	top: 20%;
	/* left: 30%; */
	height: 550px;
	width: 99%;
	background-color: blue;
	z-index: 1;
	opacity: 0;
}



/* .m1 {
	background-image: url("https://www.flaticon.com/svg/static/icons/svg/3456/3456656.svg");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.m2 {
	background-image: url("https://www.flaticon.com/svg/static/icons/svg/3456/3456709.svg");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.m3 {
	background-image: url("https://www.flaticon.com/svg/static/icons/svg/3456/3456669.svg");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.m4 {
	background-image: url("https://www.flaticon.com/premium-icon/icons/svg/3456/3456847.svg");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.m5 {
	background-image: url("https://www.flaticon.com/premium-icon/icons/svg/3456/3456890.svg");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.m6 {
	background-image: url("https://www.flaticon.com/premium-icon/icons/svg/3456/3456805.svg");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.m7 {
	background-image: url("https://www.flaticon.com/premium-icon/icons/svg/3457/3457010.svg");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.m8 {
	background-image: url("https://www.flaticon.com/premium-icon/icons/svg/3456/3456953.svg");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
} */
